<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dynamicalculator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:parentActivityName=".loginActivity"
            android:theme="@style/Theme.toolbar"
            />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".SplashScreen" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Theme.SplashScreen"></activity> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DynamiCalculator" />
        <activity
            android:name=".loginActivity"
            android:exported="true"
            android:theme="@style/Theme.toolbar"></activity>
    </application>

</manifest>